{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="/static/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2><br><span>Make Your</span><br>Vote Count!</h2>
        <div>
          <a href="/login/user" class="btn-services scrollto">Login as User</a>
          <a href="/login/gov" class="btn-services scrollto">Login as Official</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->


    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Let's Vote is an initiative to incentivize voting and to encourage people to vote. Here users will be able to apply for voters' ID, see nearest polling booths, get information about election candidates and much more.</p>
        </header>

      </div>
    </section><!-- #about -->
{% if success == True %}
  <script>
  window.location = '/dashboard';
  </script>
  {% endif %}
{% endblock %}
