{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="/static/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2><br><span></span><br>Welcome!</h2>
        <br>
        <br>
        <h4 style="color: white">Services:</h4>
        <br>
        <ul>
            <li>
                <h4 style="color: white">Review Applications of Voters' ID</h4>
                <a href="/review/" class="btn-services scrollto">Approve/Reject</a>
            </li>
            <li>
                <h4 style="color: white">Election Portal</h4>
                <a href="/portal/" class="btn-services scrollto">Portal</a>
            </li>
        </ul>
        <!--
        <div>
          <a href="#about" class="btn-get-started scrollto">User's Login</a>
          <a href="#services" class="btn-services scrollto">Management's Login</a>
        </div>
    -->
      </div>

    </div>
  </section><!-- #intro -->


    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Let's Vote is an initiative to incentivize voting and to encourage people to vote. Here users will be able to apply for voters' ID, will be able to see nearest polling booth, no. of candidates and their info and much more.</p>
        </header>

      </div>
    </section><!-- #about -->
  {% if success == True %}
  <script>
  window.location = '/dashboard'
  </script>
  {% endif %}
{% endblock %}
