{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
  <div>
  <div style="padding-top: 100px;text-align: center;">
    <h1 style='text-align: center;'>Login as User</h1>
    <form action="#" method="post" style="width: 400px;display: inline-block;">
    {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-lg-12">
        <input type="text" name="email" class="form-control" id="email" placeholder="Email"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-lg-12">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password"/>
        </div>
      </div>
      <div class="text-center"><button class="btn btn-primary" type="submit" title="Send Message">Submit</button></div>
      <input style = "display:none;" name="check" value="check">
      <div class="text-center" style="padding-top: 10px;"><a href="#"><u>Forgot password?</u></a></div>
    </form>
  </div>
  {% if invalid_error == True %}
  <script>
  alert("Invalid Credentials");
  </script>
  {% endif %}
    {% if success == True %}
  <script>
  window.location = '/dashboard'
  </script>
  {% endif %}
{% endblock %}
