{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Home</a></li>
          <!--
          <li><a href="#about">Mudit Bhardwaj</a></li>
          <li><a href="#services">Log Out</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          -->
          <li class="drop-down"><a href="">Mudit Bhardwaj</a>
            <ul>
              <li><a href="#">Log Out</a></li>
              <!--
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
            
              <li><a href="#">Management's Login</a></li>
            </ul>
          </li>
         <li><a href="#contact">Contact Us</a></li>-->
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->


  <!--==========================
    Intro Section
  ============================-->
  
  <div style="padding-top: 100px;text-align: center;padding-bottom: 30px";>
        <h1 style='text-align: center;'>Enter your Details :)</h1>
        <form action="" method="post" class="contactForm" style="width: 400px;display: inline-block;">
          <div class="form-row">
            <div class="form-group col-lg-12">
            <input type="text" name="Name" class="form-control" id="name" placeholder="Enter Your Full Name"/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-12">
                <input type="text" name="RelativeName" class="form-control" id="relativename" placeholder="Name of Relative of Applicant"/>
            </div>
            </div>
          <div class="form-row">
                <div class="form-group col-lg-12">
                <input type="text" name="Address" class="form-control" id="address" placeholder="Enter Your Permanent Address"/>
                </div>
              </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <input type="number" name="Pincode" class="form-control" id="pincode" placeholder="Pincode"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <input type="date" name="dob" class="form-control" id="dob" placeholder="Enter Your date of birth"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <input type="number" name="mobile" class="form-control" id="mobile" placeholder="Enter Your Mobile Number (optional)"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <table><tr>
                   <td> <input type="checkbox" name="Agree" class="form-control" id="agree" value="1" required/></td><td><span>I agree that all the information provided above is Correct</span></td>
              </tr> </table>
                </div>
            </div>
          <div class="text-center"><button class="btn btn-primary" type="submit" title="Send Message">Submit</button></div>
        </form>
      </div>

      <hr>
    

{% endblock %}
