{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}


  <!--==========================
    Intro Section
  ============================-->
  
  <div style="padding-top: 100px;text-align: center;padding-bottom: 30px";>
        <h1 style='text-align: center;'>Enter your details </h1>
        <form action="#" method="post"  style="width: 400px;display: inline-block;">
        {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-lg-12">
                <input type="text" name="FatherName" class="form-control" id="fathername" placeholder="Father's Name"/>
            </div>
            </div>
          <div class="form-row">
                <div class="form-group col-lg-12">
                <input type="text" name="Address" class="form-control" id="address" placeholder="Permanent Address"/>
                </div>
              </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <input type="number" name="Pincode" class="form-control" id="pincode" placeholder="Pincode"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <input type="date" name="dob" class="form-control" id="dob" placeholder="Date of birth"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <input type="number" name="mobile" class="form-control" id="mobile" placeholder="Mobile Number"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <input type="text" name="aadhar" class="form-control" id="aadhar" placeholder="AADHAR Number"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <table><tr>
                   <td><span>By clicking submit you confirm that all the information provided above is correct to your knowledge.</span></td>
              </tr> </table>
                </div>
            </div>
            <input style = "display:none;" name= "check" value = "check"/>
          <div class="text-center"><button class="btn btn-primary" type="submit" title="Send Message">Submit</button></div>
        </form>
      </div>

      <hr>
     {% if success == True %}
  <script>
  window.location = '/dashboard';
  </script>
  {% endif %}
 {% if already_created_error == True %}
  <script>
  alert("Error Because\n 1. You Have Already Submitted An Application\n 2. An Application With Same Aadhar Number Has Been Submitted");
  </script>
  {% endif %}
  {% if submitted == True %}
  <script>
  alert("Your Application Has Been Submitted. You Will Be Notified By Email When Your Application Is Approved.");
  window.location = '/dashboard';
  </script>
  {% endif %}
{% endblock %}
