{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}
<h1 style='padding-top:100px; text-align:center;'>List of users who voted </h1>
<div id='fulltable' style="width:100%; margin: auto;">
    <table class="table table-striped table-primary">
        <thead>
            <tr>
                <th>S. No.</th>
                <th>AADHAR Number</th>
                <th>Full Name</th>
                <th>Father's Name</th>
                <th>Permanent Address</th>
                <th>Date of Birth</th>
                <th>Pincode</th>
                <th>Mobile</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in applications %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.aadhar }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.fathers_name }}</td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.dob }}</td>
                <td>{{ obj.pincode }}</td>
                <td>{{ obj.mobile }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id='partialtable' style="width:100%; margin: auto; display: none;">
    <table class="table table-striped table-primary">
        <thead>
            <tr>
                <th>Row</th>
                <th>AADHAR Number</th>
                <th>Full name</th>
                <th>Pincode</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>180042042069</td>
                <td>Nishant Mittal</td>
                <td>221005</td>
            </tr>
        </tbody>
    </table>
</div>
{% if success == True %}
  <script>
  window.location = '/dashboard'
  </script>
  {% endif %}
{% endblock %}
